<div class="container">
	<h1 class="text-center">Festivales</h1>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Accion</th>
        </tr>
        <tr ng-repeat="festival in vm.festivales">
            <td>{{festival.festivalId}}</td>
            <td>{{festival.festivalName}}</td>
            <td>   
            <a href="#/festivales/{{festival.festivalId}}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>

            </td>
        </tr>
    </table>
    
</div>