<div class="container">
	<h1 class="text-center"><strong>{{vm.festival.festivalName}}</strong></h1>
    <table class="table table-hover">
        <tr>
            <th>Nombre:</th><td>{{vm.festival.festivalName}}</td>
        </tr>
        <tr>
            <th>Artistas Invitados:</th>
            <th></th>
        </tr>
        <tr>
            <th>Nombre:</th>
            <th>Nacionalidad:</th>
        </tr>
        <tr ng-repeat="artista in vm.artistas">
            <td>{{artista.artistName}}</td>
            <td>{{artista.nationality.country}}</td>
        </tr>
    </table>
</div>