<h1><strong>Infografias</strong></h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label>Seleccione Opción:</label>
			<select class="form-control">
				<option>Cantidad</option>
				<option>Score</option>
			</select>
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
			<label>Fecha de Inicio:</label>
			<div class="input-group date" id="date-picker-start">
				<input type="text" class="form-control">
				<span class="input-group-addon">
					<span class="fa fa-hashtag"></span>
				</span>				
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="form-group">
			<label>Fecha de Termino:</label>
			<div class="input-group date" id="date-picker-finish">
				<input type="text" class="form-control">
				<span class="input-group-addon">
					<span class="fa fa-hashtag"></span>
				</span>				
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(function(){
			$('#date-picker-start').datepicker();
			$('#date-picker-finish').datepicker();
		})
	</script>
</div>

<div class="row">
    <nvd3 options="vm.options" data="vm.datos"></nvd3>
</div>