.content-nav {
	padding-top: 20px;
}

.side-nav {
	position: fixed;
	padding-top: 20px;
	background: black;
	height: 100%;
}

.nav .open > a {
	background: black;
	transition: all 0.1s ease 0.1s;
}

	.nav .open > a:focus,
	.nav .open > a:hover {
		color: white;
		background: black;
	}

.nav > li > a {
	color: white;
	transition: all 0.1s ease 0.1s;
}

	.nav > li > a:active,
	.nav > li > a:hover,
	.nav > li > a:focus {
		background-color: black;
		color: green;
	}