body {
  padding-top: 20px;
  background: #222;
  position: relative; }

h1 {
  color: white; }

p {
  color: #AAA; }

.navbar {
  border: transparent; }

hr {
  border-top: 1px solid darkgreen; }

.navbar-default {
  background: #333;
  border-color: transparent; }

.navbar-default .navbar-brand {
  color: white;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
  background-color: green; }

.navbar-default .navbar-nav > li > a {
  color: #AAA;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: green; }

.row {
  padding-top: 5px;
  padding-bottom: 5px; }

th {
  color: white; }

tr {
  color: #AAA; }

#chart svg {
  height: 600px; }
